*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    
    background-image: url(../image/7.jpg);
    background-repeat: no-repeat;
    border: 1px solid transparent;
    /* 背景不滚动 */
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}
/* 导航栏开始 */

.nav_box .imgs{
    width: 100px;
    height: 40px;
    margin-left: 60px;
    float: left;
    /* 内容居中 */
    text-align: center;
}

.imgs img{
    width: 45px;
    height: 40px;
}

.nav_box{
    width: 100%;
    height: 40px;
    border: 3px solid black;
    background-color: rgb(0, 0, 0);
    position: fixed;
    line-height: 40px;
}

.nav{
    float: left;
    width: 650px;
    height: 40px;
    background-color: transparent;
    margin-left: 80px;
    text-align: center;
}
.nav li{ 
    line-height: 40px;
    list-style: none;
    float: left;
    margin-right: 100px;
    font-size: 20px;
    font-family: Serif;

}
.nav li a{
    color: #fff;
}



 /* 搜索栏 */
.navget{
    width: 500px;
    height: 40px;
    float: right;
    margin-right: 60px;
}

.navget li{float: left;}

.nav_li1 p{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    font-family: Serif;
    font-size: 17px;
    line-height: 40px;
}
.nav_li1 input{
    width: 250px;
    height: 30px;
    padding-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid #fff;
    color: #fff;
}

.nav_li2{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    background-color: #fff;
    margin-right: 20px;
}

.nav_li2 img{
    width: 100%;
    height: 100%;
}

.nav_li3 a{
    float: left;
    font-family: serif;
    color: rgb(200, 200, 200);
    margin-right: 10px;
}



 /* 搜索栏结束 */
/* 导航栏结束 */



/* 新发布开始 */


.news{
    width: 1200px;
    height: 550px;
    border: 1px solid rgb(255, 255, 255,0.1);
    background-color: rgb(255, 255, 255,0.1);
    margin: auto;
    margin-top: 42px;
}

.news_1{
    width: 550px;
    height: 380px;
    display:inline-block;
    margin:40px 0 0 40px;
}

.news_1 p{
    width: 550px;
    height: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: Serif;
}
.news_1 img{
    width: 551px;
    height: 380px;
    display:inline-block;
    border: 1px solid rgb(0, 0, 0);
}

/* 轮播图大小 */
.swiper{
    width: 100%;
    height: 100%;
}  

.news_2{
    width: 250px;
    height: 450px;
    float: right;
    margin: 40px 10px 0 0;
}

.news_3{
    width: 250px;
    height: 450px;
    float: right;
    margin: 40px 30px 0 0;
}

.news_2 img,.news_3 img{
    width: 250px;
    height: 450px;
}
/* 新发布结束 */

/* 浮悬音乐播放开始 */

audio{
    margin-top: 90px;
    margin-left: 1340px;
    position: fixed;
    width: 150px;
}
/* 浮悬音乐播放结束 */




/* <!-- 相关作品开始 --> */
.works_show{
    width: 800px;
    height: 900px;
    margin: auto;
    margin-top: 80px;
    overflow: hidden;
}

.works_show h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    
}

.works1 li {
    width: 210px;
    height: 280px;
    display: inline-block;
    text-align: center;
}

.works2 li{
    width: 210px;
    height: 280px;
    display: inline-block;
    text-align: center;
}

/* 不同格子的边距设置 */
.li2,.li3,.li5,.li6{
    margin-left: 60px;
}

.works2 li{
    margin-top: 10px;
}


/* 为ulli里面的图片居中 */
.works1 li,.works2 li{
    text-align: center;
    margin-bottom: 15px;

}

/* 展示封面图片的大小 */
.works1 img,.works2 img{
    width: 220px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.works1 font,.works2 font{
    color: floralwhite;
    background-color: black;
    font-size: 17px;
    font-family: Serif;
}
/* 相关作品结束 */




/* eva说明 */
.eva_add{
    width: 1000px;
    height: 2000px;
    bottom: 1px solid #000;
    background-color: rgb(250, 250, 250,0.8);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}

.eva_add .jianjie{
    margin-top: 5px;
    margin-left: 10px;
}

.eva_text1{
    width: 1000px;
    height: 380px;
    margin-top: 20px;
    font-family: serif;
    padding: 20px;
    margin-bottom: 20px;
}

.eva_text1 img{
    width: 330px;
    height: 380px;
    float: right;
    border-radius: 10px;
}

.eva_text1 .p1{
    color: rgb(88, 88, 88);
    font-size: 16px;
}
.eva_text1 p{
    font-size: 19px;
}

.eva_add h2{
    margin-left: 30px;
}


/* 人物介绍开始 */

.renwu{
    width: 100%;
    height: 180px;

    padding: 20px 0;
}


.renwu img{
    width: 120px;
    height: 180px;

    margin-left: 20px;
    float:left;
}

.renwu ul{

    margin-right: 130px;
    width: 700px;
    height: 100%;
    float: right;
}

.renwu ul .ren_li1{
    margin-bottom: 10px;
}
.renwu ul .ren_li2 em{
    margin-bottom: 10px;
    padding-right: 10px;
}
.renwu ul .ren_li2{
    margin-bottom: 35px;
    font-size: 12px;
}
.renwu ul .ren_li3{
    font-size: 14px;
}
/* 人物介绍结束 */
/* eva说明结束 */


/* 围栏开始 */
.tila{

    height: 300px;
    margin-top: 200px;
    background-color: #000;
    color: #fff;
    padding: 0 100px;
    padding-top: 50px;
}

.tila .box1{
    width: 250px;
    height: 60%;
    float: left;
    margin-right: 50px;
}
.box1 dl dt{
    font-size: 18px;
    margin-bottom: 10px;
}
.dd_tila{
    width: 100%;
    height: 60%;
}

.tila .box2{
    width: 200px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    color: rgb(109, 109, 109);
}




/* 围栏结束 */

